body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

div.parent
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}

div.dynamicbox{
	border-radius: 25px;
	border: 2px solid #209CEE;
	color: white;
	background-color: #209CEE;

	font-weight: bold;

	/*border: 2px solid #73AD21;*/
	padding: 20px;
	margin-bottom: 100px; /* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
	text-align: justify;
	width: 820px;
	height: 150px;

	top: 50%;
	left: 50%;21

display: block;
	max-height: 200px;

	margin: 30px;
	float: left;
	font-size: 14px;
	/*background-color: transparent;*/
;
}



.bigbutton {
	display: block;
	width: 100%;
	border: none;
	color: #ffffff;
	background-color: #209CEE;   /*ed3330;  #4CAF50; */
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

.bigButton
{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.example_e {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.example_e:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}


#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	background-image: url( 'Ava.Notetub.com-dancing-script-logo-160px.png' );
	background-repeat: no-repeat;
	height: 125px;

	/*margin: 0;*/
	/*padding: 0;*/
	/*background-image: url( 'cap-logo.jpg' );*/
	/*border-top: 3px solid #C9E0ED;*/
}

#content
{
    padding: 20px;
	/*zoom: 2;*/
	/*-moz-transform: scale(2);*/
	/*-moz-transform-origin: 0 0;*/
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	background: #209CEE;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	/*color: ; #6399cd;*/
	color: #209CEE;
	background-color:#EFF4FA;
	text-decoration:none;
}


#cname
{

}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}



/*body {*/
/*	padding: 10% 20%;*/
/*	font-family: 'Open Sans', sans-serif;*/
/*	background: #111;*/
/*	color: #fff;*/
/*}*/

label {
	padding: 4px 6px;
	line-height: 190%;
	outline-style: none;
	transition: all .6s;
}
.tag a {
	/*padding: 4px 6px;*/
	/*line-height: 190%;*/
	/*outline-style: none;*/
	/*transition: all .6s;*/

	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;
	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;
	/*outline: 4px red;*/
	/*outline-offset: 5px;*/
}


.tag a:hover {
	background: #80CFFF;
	color: white;

	/*background: rgba(0, 128, 128, .8);*/
}

.hiddenCB div {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.hiddenCB input[type="checkbox"],
.hiddenCB input[type="radio"] {
	display: none;

	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	/*display: inline-block;*/

	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;

}

.hiddenCB label {

	cursor: pointer;

	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;

	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;
}


.hiddenCB input[type="checkbox"]+label:hover{
	/*background: rgba(0, 128, 128, .8);*/
	background:rgba(128, 207, 255, .8);

	/*background: #80CFFF;*/
	color: white;

	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;

	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;
}

.hiddenCB input[type="checkbox"]:checked+label {
	/*background: rgba(0, 128, 128, .4);*/

	background:rgba(128, 207, 255, .9);
	/*background: #80CFFF;*/
	color: white;

	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;

	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;
}

.hiddenCB input[type="checkbox"]:checked+label:hover{
	/*background: rgba(0, 128, 128, 0, .7);*/
	background:rgba(128, 207, 255, .6);
	color: white;


	padding: 10px 20px;
	border-radius: 2em;
	line-height: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;

	margin: 5px 15px 5px 0;
	border: 2px solid #80CFFF;
}