assets
/protected/runtime/application.log
.idea
/protected/views/layouts/favicon-32x32.png
/protected/views/layouts/site.webmanifest
/protected/views/layouts/android-chrome-192x192.png
/protected/views/layouts/android-chrome-512x512.png
/protected/views/layouts/apple-touch-icon.png
/protected/views/layouts/favicon.ico
/protected/views/layouts/favicon-16x16.png
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/dns/v15/.suo
/.vs/slnx.sqlite
/protected/runtime/state.bin
/cd
/hs_err_pid13856.log
/hs_err_pid21416.log
/hs_err_pid6520.log
/protected/runtime/HTML/4.2.0,06ff55bad4d86b499617a1dc09672767,1.ser
